@font-face {
    font-family: 'Balmy';
    src: url('assets/fontes/balmy/Balmy\ Beta.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

/* Fonte para os Títulos (Garet)*/
@font-face {
    font-family: 'Garet';
    src: url('assets/fontes/garet/Garet-Book.woff2') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

/* Para ocupar a tela toda */
* { margin: 0; padding: 0; box-sizing: border-box; }

.tela-acesso {
    display: flex;
    width: 100%;
    font-family: 'Garet', sans-serif;
}

/* Lado Esquerdo */
.bloco-interacao {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 12px;
}

.card-acesso {
    width: 100%;
    max-width: 420px; /* Largura baseada no seu print */
}

.titulo-balmy {
    font-family: 'Balmy', sans-serif !important;
    font-size: 42px;
    margin-bottom: 40px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #1e1e1e;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 12px; 
    outline: none;
    font-family: 'Garet', sans-serif !important;
}

.btn-preto {
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

/* Lado Direito - A ARTE */
.bloco-arte {
    width: 55%;
    height: 690px;
    background-color: #ffffff; 
    display: flex;
    justify-content: center; 
}

