@font-face {
    font-family: 'Balmy';
    src: url('assets/fontes/balmy/Balmy\ Beta.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

/* Fonte para os Títulos (Garet)*/
@font-face {
    font-family: 'Garet';
    src: url('assets/fontes/garet/Garet-Book.woff2') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;

}

.tela-acesso {
    display: flex;
    width: 100%;
}

/* LADO DA ARTE (Esquerda) */
.bloco-arte {
    width: 890px;
    height: 690px;
    background-color: #ffffff;
    display: flex;
    justify-content: center; /* Centraliza a baleia se sobrar espaço */
    align-items: center;
    
}

.imagem-fundo {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}

/* LADO DO FORMULÁRIO (Direita) */
.bloco-interacao {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.card-acesso {
    width: 100%;
    max-width: 400px;
    text-align: center;
    
}

.titulo-balmy {
    font-family: 'Balmy', sans-serif;
    font-size: 55px;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Garet', sans-serif;
}

.input-group label {
    display: block;
    font-family: 'Garet', sans-serif;
    margin-bottom: 8px;
    color: #1e1e1e;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 14px;
    font-family: 'Garet', sans-serif;
}

.btn-preto {
    width: 425px;
    padding: 12px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Garet', sans-serif;
    font-size: 14px;
    
}

.mensagem-validacao {
    font-family: 'Garet', sans-serif;
    color: red;
}

.texto-rodape {
    margin-top: 15px;
    font-family: 'Garet', sans-serif;
    font-size: 14px;
}

.texto-rodape a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}